
    

    
body {
    background-color: blue;
}
#resp{
    width: 100vmax;

}

#avi {
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#image {
    width: 20vw;
}

#lista {
    list-style: none;
    padding: 0;
    background-color:white;
    width: 100vh;
}
#lista li {
    text-align: center;
    display: inline;
    list-style: none;
    padding: 5px;
}
#lista li a{
    background-color:white;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
  
}
   

@media (max-width:800px) {
   
    #avi{
    max-width: 100%;
    display: none;
    }
}

@media (min-width:800px) {
   
    #jato{
    min-width: 100%;
    display: none;

    }
}
@media (min-width:800px) and (max-width: 800px) {
   
    #text{
    max-width: 100%;
    }

}
 #avi {
    background-image: url(../Responsividade/avi.png);

    animation: fly;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    
}
#jato {
    background-image: url(../Responsividade/jato.png);

    animation: fly;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    
}
@keyframes fly {
    100%{
        transform: translateX(50vw);
    }
}



    
